@import "styles/shared.scss"; // смотри в корне .env

.TodoFilter-label {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  min-width: 300px;
  max-width: 500px;

  // Input
  .TodoInput {
    width: 100%;
  }
}

.TodoList {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.TodoEditor {
  margin-bottom: 15px;
  min-width: 300px;
  max-width: 500px;

  .TodoEditor__textarea-label {
    margin-bottom: 13px;

    // TextField
    .TodoEditor__textarea {
      width: 100%;
    }
  }

  // Button
  .TodoEditor__btn {
    display: block;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
  }
}

.TodoList__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 25px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 31%;
  min-width: 300px;
  background-color: $todoBg;
  box-shadow: $todoShadov;
  border-radius: 4px;
}

.TodoList__text {
  color: $todoColor;
  margin-right: 30px;
}
